<div class="sidenav">
    <div class="sidenav__list">
        <ul>
            <li class="active-menu">
                <img src="../../../assets/img/svg/loader.svg" alt="">
                <span>Home</span>
            </li>
            <li>
                <img src="../../../assets/img/svg/loader.svg" alt="">
                <span>Service</span>
            </li>
            <li>
                <img src="../../../assets/img/svg/loader.svg" alt="">
                <span>Features</span>
            </li>
            <li>
                <img src="../../../assets/img/svg/loader.svg" alt="">
                <span>Contact</span>
            </li>
        </ul>
    </div>
</div>
