@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "./assets/scss/variable.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg-color) !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
  }
html{
    font-size: 62.5%;
}
